src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/packages/packagecategory/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/packages/packagecategory/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd15" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedcategories/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd36" namespace="http://schemas.turner.com/ea/augusta/schedules/packages/2007/01" />
  <xs:complexType name="ArrayOfPackageCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageCategory" nillable="true" type="tns:PackageCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageCategory" nillable="true" type="tns:ArrayOfPackageCategory" />
  <xs:complexType name="PackageCategory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.turner.com/ea/augusta/schedules/packages/2007/01" base="q1:BasePackageAggregator">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.turner.com/ea/augusta/schedules/feeds/feedcategories/2007/01" minOccurs="0" name="FeedCategory" nillable="true" type="q2:FeedCategory" />
          <xs:element minOccurs="0" name="PackageCategoryId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PackageCategory" nillable="true" type="tns:PackageCategory" />
</xs:schema>