src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/feeds/feedgenres/feedsubgenres/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedgenres/feedsubgenres/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFeedSubGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedSubGenre" nillable="true" type="tns:FeedSubGenre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedSubGenre" nillable="true" type="tns:ArrayOfFeedSubGenre" />
  <xs:complexType name="FeedSubGenre">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FeedGenreID" type="xs:int" />
      <xs:element minOccurs="0" name="FeedSubGenreID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedSubGenre" nillable="true" type="tns:FeedSubGenre" />
</xs:schema>