src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/feeds/feedproductcodes/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedproductcodes/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFeedProductCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedProductCode" nillable="true" type="tns:FeedProductCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedProductCode" nillable="true" type="tns:ArrayOfFeedProductCode" />
  <xs:complexType name="FeedProductCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FeedID" type="xs:int" />
      <xs:element minOccurs="0" name="FeedProductCodeID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedProductCode" nillable="true" type="tns:FeedProductCode" />
</xs:schema>