src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/feeds/feedcategories/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedcategories/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FeedCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FeedCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="FeedID" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedCategory" nillable="true" type="tns:FeedCategory" />
  <xs:complexType name="ArrayOfFeedCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedCategory" nillable="true" type="tns:FeedCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedCategory" nillable="true" type="tns:ArrayOfFeedCategory" />
</xs:schema>