src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/feeds/feedtitlemetadata/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedtitlemetadata/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd18" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd9" namespace="http://schemas.turner.com/ea/augusta/base/2007/01" />
  <xs:complexType name="ArrayOfFeedTitleMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedTitleMetaData" nillable="true" type="tns:FeedTitleMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedTitleMetaData" nillable="true" type="tns:ArrayOfFeedTitleMetaData" />
  <xs:complexType name="FeedTitleMetaData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.turner.com/ea/augusta/base/2007/01" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.turner.com/ea/augusta/schedules/feeds/2007/01" minOccurs="0" name="Feed" nillable="true" type="q2:Feed" />
          <xs:element minOccurs="0" name="FeedTitleMetaDataID" type="xs:int" />
          <xs:element minOccurs="0" name="TitleMetaDataID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeedTitleMetaData" nillable="true" type="tns:FeedTitleMetaData" />
</xs:schema>