src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dfc.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dfc.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MediaStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Deliverables" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaStatus" nillable="true" type="tns:MediaStatus" />
</xs:schema>