src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/feeds/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/feeds/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd15" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedcategories/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd19" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedgenres/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd21" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedguidecategories/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd22" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedproductcodes/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd23" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprogramtypes/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd24" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprovidercontenttiers/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Feed">
    <xs:sequence>
      <xs:element minOccurs="0" name="AggregatorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableScheduleId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncodeTargetType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.turner.com/ea/augusta/schedules/feeds/feedcategories/2007/01" minOccurs="0" name="FeedCategories" nillable="true" type="q1:ArrayOfFeedCategory" />
      <xs:element minOccurs="0" name="FeedCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.turner.com/ea/augusta/schedules/feeds/feedgenres/2007/01" minOccurs="0" name="FeedGenres" nillable="true" type="q2:ArrayOfFeedGenre" />
      <xs:element xmlns:q3="http://schemas.turner.com/ea/augusta/schedules/feeds/feedguidecategories/2007/01" minOccurs="0" name="FeedGuideCategories" nillable="true" type="q3:ArrayOfFeedGuideCategory" />
      <xs:element minOccurs="0" name="FeedId" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.turner.com/ea/augusta/schedules/feeds/feedproductcodes/2007/01" minOccurs="0" name="FeedProductCodes" nillable="true" type="q4:ArrayOfFeedProductCode" />
      <xs:element xmlns:q5="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprogramtypes/2007/01" minOccurs="0" name="FeedProgramTypes" nillable="true" type="q5:ArrayOfFeedProgramType" />
      <xs:element xmlns:q6="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprovidercontenttiers/2007/01" minOccurs="0" name="FeedProviderContentTiers" nillable="true" type="q6:ArrayOfFeedProviderContentTier" />
      <xs:element minOccurs="0" name="FlighDurationDays" type="xs:int" />
      <xs:element minOccurs="0" name="FlightDurationType" type="tns:FlightDurationType" />
      <xs:element minOccurs="0" name="FormatId" type="xs:int" />
      <xs:element minOccurs="0" name="HoursPerMonth" type="xs:int" />
      <xs:element minOccurs="0" name="HoursPerWeek" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsContractValidated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMasterFeed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPartial" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsProductionReady" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPublishable" type="xs:boolean" />
      <xs:element minOccurs="0" name="MasterFeedID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageNameMaxLength" type="xs:int" />
      <xs:element minOccurs="0" name="ParentFeedId" type="xs:int" />
      <xs:element minOccurs="0" name="RefreshRate" type="xs:double" />
      <xs:element minOccurs="0" name="StartTimeSec" type="xs:int" />
      <xs:element minOccurs="0" name="StoryLineMaxLength" type="xs:int" />
      <xs:element minOccurs="0" name="TVRatingMaxLength" type="xs:int" />
      <xs:element minOccurs="0" name="TimeDefinition" type="tns:TimeDefinitionType" />
      <xs:element minOccurs="0" name="TitleBriefMaxLength" type="xs:int" />
      <xs:element minOccurs="0" name="TitleVODMaxLength" type="xs:int" />
      <xs:element minOccurs="0" name="WeekStartDay" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feed" nillable="true" type="tns:Feed" />
  <xs:simpleType name="FlightDurationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Day">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Week">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FlightDurationType" nillable="true" type="tns:FlightDurationType" />
  <xs:simpleType name="TimeDefinitionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Day">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Week">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Period">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TimeDefinitionType" nillable="true" type="tns:TimeDefinitionType" />
</xs:schema>