src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework37.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/packages/packageprovidercontenttiers/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/packages/packageprovidercontenttiers/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd24" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprovidercontenttiers/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd36" namespace="http://schemas.turner.com/ea/augusta/schedules/packages/2007/01" />
  <xs:complexType name="ArrayOfPackageProviderContentTier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageProviderContentTier" nillable="true" type="tns:PackageProviderContentTier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageProviderContentTier" nillable="true" type="tns:ArrayOfPackageProviderContentTier" />
  <xs:complexType name="PackageProviderContentTier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.turner.com/ea/augusta/schedules/packages/2007/01" base="q1:BasePackageAggregator">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprovidercontenttiers/2007/01" minOccurs="0" name="FeedProviderContentTier" nillable="true" type="q2:FeedProviderContentTier" />
          <xs:element minOccurs="0" name="PackageProviderContentTierId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PackageProviderContentTier" nillable="true" type="tns:PackageProviderContentTier" />
</xs:schema>