src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/packages/packageprogramtypes/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/packages/packageprogramtypes/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd23" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprogramtypes/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd36" namespace="http://schemas.turner.com/ea/augusta/schedules/packages/2007/01" />
  <xs:complexType name="ArrayOfPackageProgramType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageProgramType" nillable="true" type="tns:PackageProgramType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageProgramType" nillable="true" type="tns:ArrayOfPackageProgramType" />
  <xs:complexType name="PackageProgramType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.turner.com/ea/augusta/schedules/packages/2007/01" base="q1:BasePackageAggregator">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprogramtypes/2007/01" minOccurs="0" name="FeedProgramType" nillable="true" type="q2:FeedProgramType" />
          <xs:element minOccurs="0" name="PackageProgramTypeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PackageProgramType" nillable="true" type="tns:PackageProgramType" />
</xs:schema>