src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadataproviderContentTiers/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadataproviderContentTiers/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd24" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprovidercontenttiers/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd13" namespace="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadata/2007/01" />
  <xs:complexType name="ArrayOfTitleMetaDataProviderContentTier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TitleMetaDataProviderContentTier" nillable="true" type="tns:TitleMetaDataProviderContentTier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitleMetaDataProviderContentTier" nillable="true" type="tns:ArrayOfTitleMetaDataProviderContentTier" />
  <xs:complexType name="TitleMetaDataProviderContentTier">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprovidercontenttiers/2007/01" minOccurs="0" name="FeedProviderContentTier" nillable="true" type="q1:FeedProviderContentTier" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadata/2007/01" minOccurs="0" name="TitleMetaData" nillable="true" type="q2:TitleMetaData" />
      <xs:element minOccurs="0" name="TitleMetaDataId" type="xs:int" />
      <xs:element minOccurs="0" name="TitleMetaDataProviderContentTierId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleMetaDataProviderContentTier" nillable="true" type="tns:TitleMetaDataProviderContentTier" />
</xs:schema>