src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprovidercontenttiers/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedprovidercontenttiers/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFeedProviderContentTier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedProviderContentTier" nillable="true" type="tns:FeedProviderContentTier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedProviderContentTier" nillable="true" type="tns:ArrayOfFeedProviderContentTier" />
  <xs:complexType name="FeedProviderContentTier">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FeedID" type="xs:int" />
      <xs:element minOccurs="0" name="FeedProviderContentTierID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedProviderContentTier" nillable="true" type="tns:FeedProviderContentTier" />
</xs:schema>