dotnet/src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Turniverse.Services.Schedules.BlockOfTimeTags" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Turniverse.Services.Schedules.BlockOfTimeTags" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBlockOfTimeTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlockOfTimeTag" nillable="true" type="tns:BlockOfTimeTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlockOfTimeTag" nillable="true" type="tns:ArrayOfBlockOfTimeTag" />
  <xs:complexType name="BlockOfTimeTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlockOfTimeId" type="xs:int" />
      <xs:element minOccurs="0" name="BlockOfTimeTagId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TagId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlockOfTimeTag" nillable="true" type="tns:BlockOfTimeTag" />
</xs:schema>