dotnet/src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/packages/packageproductcodes/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/packages/packageproductcodes/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd22" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedproductcodes/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd36" namespace="http://schemas.turner.com/ea/augusta/schedules/packages/2007/01" />
  <xs:complexType name="ArrayOfPackageProductCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageProductCode" nillable="true" type="tns:PackageProductCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageProductCode" nillable="true" type="tns:ArrayOfPackageProductCode" />
  <xs:complexType name="PackageProductCode">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.turner.com/ea/augusta/schedules/packages/2007/01" base="q1:BasePackageAggregator">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.turner.com/ea/augusta/schedules/feeds/feedproductcodes/2007/01" minOccurs="0" name="FeedProductCode" nillable="true" type="q2:FeedProductCode" />
          <xs:element minOccurs="0" name="PackageProductCodeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PackageProductCode" nillable="true" type="tns:PackageProductCode" />
</xs:schema>