dotnet/src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadatasubgenres/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadatasubgenres/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd20" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedgenres/feedsubgenres/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd25" namespace="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadatagenres/2007/01" />
  <xs:complexType name="ArrayOfTitleMetaDataSubGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TitleMetaDataSubGenre" nillable="true" type="tns:TitleMetaDataSubGenre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitleMetaDataSubGenre" nillable="true" type="tns:ArrayOfTitleMetaDataSubGenre" />
  <xs:complexType name="TitleMetaDataSubGenre">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.turner.com/ea/augusta/schedules/feeds/feedgenres/feedsubgenres/2007/01" minOccurs="0" name="FeedSubGenre" nillable="true" type="q1:FeedSubGenre" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadatagenres/2007/01" minOccurs="0" name="TitleMetaDataGenre" nillable="true" type="q2:TitleMetaDataGenre" />
      <xs:element minOccurs="0" name="TitleMetaDataGenreID" type="xs:int" />
      <xs:element minOccurs="0" name="TitleMetaDataSubGenreID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleMetaDataSubGenre" nillable="true" type="tns:TitleMetaDataSubGenre" />
</xs:schema>