dotnet/src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadatagenres/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadatagenres/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd19" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedgenres/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd26" namespace="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadatasubgenres/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd13" namespace="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadata/2007/01" />
  <xs:complexType name="ArrayOfTitleMetaDataGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TitleMetaDataGenre" nillable="true" type="tns:TitleMetaDataGenre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitleMetaDataGenre" nillable="true" type="tns:ArrayOfTitleMetaDataGenre" />
  <xs:complexType name="TitleMetaDataGenre">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.turner.com/ea/augusta/schedules/feeds/feedgenres/2007/01" minOccurs="0" name="FeedGenre" nillable="true" type="q1:FeedGenre" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadatasubgenres/2007/01" minOccurs="0" name="SubGenres" nillable="true" type="q2:ArrayOfTitleMetaDataSubGenre" />
      <xs:element xmlns:q3="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadata/2007/01" minOccurs="0" name="TitleMetaData" nillable="true" type="q3:TitleMetaData" />
      <xs:element minOccurs="0" name="TitleMetaDataGenreID" type="xs:int" />
      <xs:element minOccurs="0" name="TitleMetaDataID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleMetaDataGenre" nillable="true" type="tns:TitleMetaDataGenre" />
</xs:schema>