dotnet/src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/packages/packagegenre/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/packages/packagegenre/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd19" namespace="http://schemas.turner.com/ea/augusta/schedules/feeds/feedgenres/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd38" namespace="http://schemas.turner.com/ea/augusta/schedules/packages/packagesubgenre/2007/01" />
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd36" namespace="http://schemas.turner.com/ea/augusta/schedules/packages/2007/01" />
  <xs:complexType name="ArrayOfPackageGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageGenre" nillable="true" type="tns:PackageGenre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageGenre" nillable="true" type="tns:ArrayOfPackageGenre" />
  <xs:complexType name="PackageGenre">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.turner.com/ea/augusta/schedules/packages/2007/01" base="q1:BasePackageAggregator">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.turner.com/ea/augusta/schedules/feeds/feedgenres/2007/01" minOccurs="0" name="FeedGenre" nillable="true" type="q2:FeedGenre" />
          <xs:element minOccurs="0" name="PackageGenreID" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.turner.com/ea/augusta/schedules/packages/packagesubgenre/2007/01" minOccurs="0" name="PackageSubGenres" nillable="true" type="q3:ArrayOfPackageSubGenre" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PackageGenre" nillable="true" type="tns:PackageGenre" />
</xs:schema>