dotnet/src/ScheduleAggregator/Service References/EA.Turniverse.BlocksOfTime/BlockOfTimeRework11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.turner.com/ea/augusta/schedules/TitleMetaData/TitleMetaDataTags/2007/01" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/augusta/schedules/TitleMetaData/TitleMetaDataTags/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turniverse/CORE/BlockOfTimeRework.svc?xsd=xsd13" namespace="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadata/2007/01" />
  <xs:complexType name="ArrayOfTitleMetaDataTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TitleMetaDataTag" nillable="true" type="tns:TitleMetaDataTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitleMetaDataTag" nillable="true" type="tns:ArrayOfTitleMetaDataTag" />
  <xs:complexType name="TitleMetaDataTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TagId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.turner.com/ea/augusta/schedules/titlemetadata/titlemetadata/2007/01" minOccurs="0" name="TitleMetaData" nillable="true" type="q1:TitleMetaData" />
      <xs:element minOccurs="0" name="TitleMetaDataId" type="xs:int" />
      <xs:element minOccurs="0" name="TitleMetaDataTagId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleMetaDataTag" nillable="true" type="tns:TitleMetaDataTag" />
</xs:schema>